# Add any directories, files, or patterns you don't want to be tracked by version control
###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Bb]uild/
[Bb]uilds/

# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Builds/

# Visual Studio 2015 cache directory
/.vs/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Builds
*.apk
/Screenshots
/Release

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
Assets/ShaderoSprite/
Assets/2DxFX/

